!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Report Risk
    :css
      .table.table-borderless {border:10px !important;}
      .apo{max-width: 30%;}
      .ape{max-width: 250px;}
      .aih{font-size:20px}

  %body
  -@risks.each do |ris|
    -if ris.controls.present? == false
      
    -else 
      %center
        %h2.aih=ris.name.titlecase.html_safe  
      %table.table.table-borderless
        %thead
          %tr
            %th.text-center{:scope => "col"} #
            %th.text-center.apo{:scope => "col"} Business Process
            %th.text-center.apo{:scope => "col"} Control Owner
            %th.text-center.apo{:scope => "col"} Type of Control
            %th.text-center.apo{:scope => "col"} Description
        -ris.controls.each_with_index do |bis,i|
          %tbody
            %tr
              %td.text-center{:scope => "row"} #{i+1}
              %td.text-center.apo
                %ul
                  -ris.business_processes.each do |bus|
                    %li=bus&.name&.titlecase
              %td.text-center.apo #{bis.control_owner.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
              %td.text-center.apo #{bis.type_of_control.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
              %td.text-center.ape #{bis.description.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
      %p{:style => "page-break-after:always;"}
      %p{:style => "page-break-after:auto;"}


    