!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Report Risk without Control
    :css
      .table.table-borderless {border:10px !important;}
      .apo{max-width: 30%;}
      .ape{max-width: 250px;}

  %body
    %center
      %h2 Report Risk without Control
  -@risks.each_with_index do |ris,u|
    -if ris.policies.present?
      %h2=ris.name.html_safe
      %table.table.table-borderless
        %thead
          %tr
            %th.text-center{:scope => "col"} #
            %th.text-center.apo{:scope => "col"} Name
            %th.text-center.apo{:scope => "col"} Level of Risk
            %th.text-center.apo{:scope => "col"} Type of Risk
            %th.text-center.apo{:scope => "col"} Business Processes
            %th.text-center.apo{:scope => "col"} Related Policy
        -ris.policies.each_with_index do |pol,i|
          %tbody
            %tr
              %td.text-center{:scope => "row"} #{i+1}
              %td.text-center.ape #{ris.name.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
              %td.text-center.apo #{ris.level_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
              %td.text-center.apo #{ris.type_of_risk.to_s.gsub(/[^0-9A-Za-z]/, ' ').titlecase.html_safe}
              %td.text-center.apo
                %ul
                  -ris.business_processes.each do |bus|
                    %li=bus&.name&.titlecase
              %td.text-center.apo
                %ul
                  %li=pol&.title&.titlecase&.html_safe
      %p{:style => "page-break-after:always;"}
      %p{:style => "page-break-after:auto;"}

