!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title #{@policy.title}
  %body
    %h1 #{@policy.title}
    %p #{@policy.description}
    %ul
      -@policy.children.each do |chil|
        %li
          %b=chil.title
        %p= chil.description
    