!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title REPORT
  %body
  .row.m-t-10
    .col-md-12
      %h3 Risk
      %ul
      -@policy.all.each do |cun|
        -cun.title

= link_to "Export users as spreadsheet", users_path(format: "xlsx")
