!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      hr.new5 {
      border: 1px solid black;
      border-radius: 5px;}
      .aih{
        margin-top:0px;
        font-size:20px;
        margin-bottom:5px;
        }

  %body
    %table{style:"border:none;"}
      %tbody
        %tr
          %img{:alt => "Logo-pwc", :src => "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Logo-pwc.png/512px-Logo-pwc.png", :width => "60"}/
          %hr.new5
    %center
      %h2.aih Flowchart Unmapped Risk
      %br
      %br
    
    