!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    :css
      hr.new5 {
      border: 1px solid black;
      border-radius: 5px;}
      td.abe {
        border: none;
        position: relative;
        padding-left: 5px;
        
      }
      .aha{
        border:none;
        font-family: Georgia,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif!important;
        -webkit-font-smoothing: antialiased;
        font-size: 15px;
      }
        

  %body{:onload => "number_pages()"}
    %br
    %hr.new5
    %table.table.table-borderless.aha
      %tr.aha
        %td.aha Automated Policy, Risk and Control Management Tool
        %td.aha.text-center Printed on #{Time.now.strftime("%d %m %Y")}
        %td.aha.text-right 
          Page
          %span#page
          of
          %span#topage
          :javascript
            var vars={};
            var x=window.location.search.substring(1).split('&');
            for (var i in x) {
              var z=x[i].split('=',2);
              vars[z[0]] = unescape(z[1]);
            }
            document.getElementById('page').innerHTML = vars.page; 
            document.getElementById('topage').innerHTML = vars.topage;
