%table{style:"border:none;"}
  %tbody
    %tr
      %td.border-none{style: "color:rgb(89, 89, 89);font-size:15px;border-bottom:none; font-family: arial;"}
        Transfez is a digital service of PT. Indo Koala Remittance, a registered fund transfer/remittance provider. We are supervised by Bank
        Indonesia and PPATK under the Anti Money Laundering & Terrorism Financing Regulations : 19/10/PBI/2017 and regulated by Bank
        Indonesia as an authorized remittance institution : 13/77/DASP/30